@mixin centered-element() {
  display: flex;
  align-items: center;
  justify-content: center;
}

#app-container {
  margin-top: 3%;

  /* logo */
  .logo-container {
    @include centered-element();
    .logo {
      max-height: 200px;
      &-title {
        font-weight: lighter;
        font-size: xx-large;
      }
    }
  }

  /* plan selection title */
  #plan-selection-title {
    @include centered-element();
    h1 { font-weight: lighter; }
  }

  /* plan selection */
  #plan-selection {
    @include centered-element();

    margin-top: 1%;
    padding-bottom: 4%;
    border-bottom: 1px solid #fafafa;

    .plan-input-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 28%;

      .input-box {
        display: flex;
        flex-direction: column;
        label {
          text-align: center;
          font-size: smaller;
        }
        input {
          max-width: 90px;
          height: 29px;
          background-color: #666;
          color: #fff;
          text-align: center;
        }
        button {
          background-color: #666;
          color: #fff;
          border: none;
        }

        .inline-content {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }

      .simulation-button {
        display: flex;
        align-self: flex-end;
        button {
          height: 35px;
        }
      }
    }
  }

  #plan-calculation-container {
    display: flex;
    justify-content: center;
    width: 100%;

    .plan-calculation-output {
      @include centered-element();

      justify-content: space-between;
      margin-top: 3%;
      width: 50%;

      .simulation-output {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        height: 85px;
        width: 25%;
        background: #f5f5f5;

        .simulation-container {
          display: flex;
          flex-direction: column;

          .plan-value-detail {
            margin: 10px;
          }
        }
      }
    }
  }
}
